@font-face {
  font-family: 'Rota';
  src: local('Rota'), url('./fonts/Rota-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'Rota';
  font-weight: 500;
  src: local('Rota'), url('./fonts/Rota-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: 'Rota';
  font-weight: bold;
  src: local('Rota'), url('./fonts/Rota-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Rota';
  font-style: italic;
  src: local('Rota'), url('./fonts/Rota-Italic.otf') format('opentype');
}
@font-face {
  font-family: 'Ravioli';
  src: local('Ravioli Serif Font'),
    url('./fonts/Ravioli\ Serif\ Font.otf') format('opentype');
}

body {
  font-family: 'Rota';

}
